<!-- about.html -->
{% extends "home/base.html" %}

{% block pagename %}
    {{ "Contact us" }}
{% endblock %}

{% block content %}


    <form method="post" name="contact-us" action="">
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="col-md-12 form-group">
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone">
            </div>
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="websiteUrl" name="websiteUrl" placeholder="Website">
            </div>
            <div class="col-md-12 form-group">
                <textarea class="form-control" id="message" name="message" rows="6" placeholder="Your Message ..."></textarea>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send Message</button>
            </div>
        </div>
    </form>
    </div>
    </div>

{% endblock content %}